asn1crypto==1.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==3.2
idna==2.9
pycparser==2.20
pyOpenSSL==19.1.0
PySocks==1.7.1
requests==2.23.0
six==1.14.0
soupsieve==2.0
urllib3==1.25.8
win-inet-pton==1.1.0
wincertstore==0.2
